* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#game {
    display: none;
}

#options {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

#result {
    text-align: center;
    font-size: 20px;
    height: 3rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#buttons button {
    margin: auto 1rem;
    width: 10rem;
}

#back:hover{
    background: rgb(136, 5, 5);  
}

#play:hover{
    background: rgb(5, 136, 38);  
}

#options button {
    margin: auto 1rem;
    width: 10rem;
}

button {
    flex: 1;
    padding: 10px;
    background-color: #4e4b4b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}